.log-in-title {
  text-align: center;
  margin-top: 50px;
}

.form-container {
  padding: 10px;
  border: 2px solid #444;
  background-color: #3b3a3f;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
}

.form-container form {
  display: grid;
  grid-gap: 10px;
}

.form-container h2 {
  color: #fff;
  margin-top: 0;
}

.form-container p {
  color: #fff;
  margin-bottom: 10px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
  padding: 10px;
  border-radius: 4px;
  border: none;
}

.form-container button {
  background-color: #6d1381;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.form-container button:hover {
  background-color: #ba70c9;
}

.form-container .switch-form {
  color: #fff;
  margin-top: 20px;
  text-align: center;
}

.form-container .switch-form button {
  color: #681c8c;
  background-color: #fff;
  border: none;
  padding: 5px;
  margin-left: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.form-container .switch-form button:hover {
  background-color: #f2f2f2;
}
